@namespace Playground.Blazor.Wasm.Application.Pages

@page "/calclocal"
@using Playground.Blazor.Core.Calc
@inject ICalcService Srv

<h1>Multiply service</h1>

<p>This component demonstrates calling methods on local service.</p>
<p>
    Value A:<input value="@valueA" @oninput="@(async (ChangeEventArgs e) =>
                                                  {
                                                      valueA = this.ValueChanged(e, valueA);
                                                      await LoadResult();
                                                  })"/>
</p>
<p>
    Value B:<input value="@valueB" @oninput="@(async (ChangeEventArgs e) =>
                                                 {
                                                     valueB = this.ValueChanged(e, valueB);
                                                     await LoadResult();
                                                 })" />
</p>
<p>
    Result: @result
</p>

@code {

    private double? valueA = null;

    private double? valueB = null;

    private double? result = null;

    private double? ValueChanged(ChangeEventArgs e, double? initialValue)
    {
        return double.TryParse(e.Value?.ToString(), out var res) ? (double?)res : initialValue;
    }

    private async Task LoadResult()
    {
        this.result = this.valueA.HasValue && this.valueB.HasValue ? (double?)(await Srv.Multiply(valueA.Value, valueB.Value)) : null;
    }
}
